body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
}

.visor-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}

.visor-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
